body{
    min-width: 150px;
    margin:4px;
}

.header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #507299;
    border-radius: 2px;
}

.header h1{
    margin: 2px;
    color: white;
}

.checkbox-set{
    padding: 10px;
    position: relative;
}

.checkbox-set .switch-title{
    font-size:16px;
}
.checkbox-set .switch-checkbox{
    position: relative;
    display: inline-block;
}
.checkbox-set .switch-state{
    line-height: 28px;
    display: inline-block;
    float: right;
    font-weight: 400;
    font-size: 20px;
}
    
.checkbox-set .switch-switch{
    margin-top: 5px;
    display: block;
    height: 24px;
    width: 45px;
    background-color: #6d95de;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox-set input:not(checked){
    position:absolute;
    display: none;
}

.checkbox-set input:not(checked) + .switch-switch:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}

.checkbox-set input:checked + .switch-switch {
  background: #9FD468;
}

.checkbox-set input:checked + .switch-switch:after {
  left: 23px;
}

.checkbox-set input:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.donate_link, .yandex_money_form{
    padding: 0 10px 5px 10px;
}

a.donate_link{
    text-decoration: none;
    color: gray;
    float: right;
}

.yandex_money_form {
  width: 0;
  height: 0;
  overflow:hidden;
  transition:all 1s;
}

.yandex_money_form.active{
    width: 450px;
    height: 200px;
}